commands:
  11_node_global:
    command: "sudo ln -sf /opt/elasticbeanstalk/node-install/node-v8.4.0-linux-x64/bin/node /usr/bin/node"
    ignoreErrors: true
  12_npm_global:
    command: "sudo ln -sf /opt/elasticbeanstalk/node-install/node-v8.4.0-linux-x64/bin/npm /usr/bin/npm"
    ignoreErrors: true
  21_ffmpeg_dir:
    command: "sudo mkdir -p /usr/local/ffmpeg"
    ignoreErrors: true
  22_ffmpeg_rm:
    command: "sudo rm ffmpeg.static.64bit.latest.tar.gz"
    cwd: "/usr/local/ffmpeg"
    ignoreErrors: true
  23_ffmpeg_wget:
    command: "sudo wget http://ffmpeg.gusari.org/static/64bit/ffmpeg.static.64bit.latest.tar.gz"
    cwd: "/usr/local/ffmpeg"
    ignoreErrors: true
  24_ffmpeg_tar:
    command: "sudo tar -xzf ffmpeg.static.64bit.latest.tar.gz"
    cwd: "/usr/local/ffmpeg"
    ignoreErrors: true
  25_ffmpeg_global:
    command: "sudo ln -s /usr/local/ffmpeg/ffmpeg /usr/bin/ffmpeg"
    cwd: "/usr/local/ffmpeg"
    ignoreErrors: true
  31_gm_install:
    command: "sudo yum install GraphicsMagick -y"
    ignoreErrors: true

